<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RuntimeTestDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6BB4357C1D0045FB00F81561</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6BB435981D0045FC00F81561</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6BB435A31D0045FC00F81561</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
